<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %}{% endblock title %} The Ice-Cream Factory </title>
    <style>
        .search-box {
            display: none;
            transition: all 0.3s ease-in-out;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">The IceCreams Factory</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/services" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Services
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/services">Ice Cream</a>
                        <a class="dropdown-item" href="#">Softy</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Family Pack</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact Us</a>
                </li>

            </ul>
            <button class="btn btn-outline-success my-2 my-sm-0" id="searchButton">Search</button>
            <form class="form-inline my-2 my-lg-0">
                <div class="search-box" id="searchBox">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
                        id="searchInput">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="button" id="executeSearchButton">Search</button>
                </div>
            </form>
        </div>
    </nav>

    <!-- Body Content -->
    {% block body %} {% endblock body %}

    <!-- Bootstrap JS and jQuery -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script>
        // JavaScript for Search Functionality
        let searchInput = document.getElementById('searchInput');
        let searchButton = document.getElementById('searchButton');
        let executeSearchButton = document.getElementById('executeSearchButton');
        let searchBox = document.getElementById('searchBox');

        let clickCount = 0;

        searchButton.addEventListener('click', function () {
            clickCount++;
            if (clickCount === 1) {
                // Animate opening the search box
                searchBox.style.display = 'block';
            } else if (clickCount === 2) {
                // Trigger actual search functionality here
                alert('Performing search...');
            }
        });

        // Add a listener to close the search box if it loses focus
        searchInput.addEventListener('blur', function () {
            searchBox.style.display = 'none';
            clickCount = 0; // Reset click count
        });
    </script>
</body>
</html>
