{% extends 'base.html' %}

{% block title %}Contact Us{% endblock title %}

{% block body %}
<div class="container-fluid px-0 mb-3" style="position: relative;">
  <img src="/static/5.jpg" class="d-block w-100 mx-0" alt="...">
  <div class="container position-absolute top-50 start-50 translate-middle" style="background-color: rgba(255, 255, 255, 0.8); padding: 20px; border-radius: 10px;">
    <h1 class="text-center mb-4">Contact Us</h1>
    {% if success_message %}
      <div class="alert alert-success" role="alert">
        {{ success_message }}
      </div>
    {% endif %}
    <form method="post" action="/contact">
      {% csrf_token %}
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter your Name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone Number</label>
        <input type="phone" class="form-control" id="phone" name="phone" placeholder="Enter Your Phone Number">
      </div>
      <div class="mb-3">
        <label for="desc" class="form-label">Tell me about what you want to contact me for...</label>
        <textarea class="form-control" id="desc" rows="3" name="desc"></textarea>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
{% endblock body %}
