<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
  }

  .form-inline {
    overflow: hidden;
    max-width: 0;
    transition: max-width 0.3s ease;
  }

  .form-inline.open {
    max-width: 200px;
  }

  .navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<title>The Ice-Cream Factory</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">The IceCreams Factory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
@@ -37,17 +57,28 @@
      <li class="nav-item">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<script>
  const searchForm = document.querySelector('.form-inline');
  let isOpen = false;

  searchForm.addEventListener('click', function() {
    if (isOpen) {
      // Trigger search functionality
      console.log('Search triggered');
    } else {
      // Animate open the search box
      searchForm.classList.add('open');
    }

    isOpen = !isOpen;
  });
</script>
</body>
</html>